*{
  margin-top:0px;
  padding-top:0px;
}

h1{
  font-size:36px;
  color:white;
  font-weight:bold;
  margin:0 auto;
}

h2{
  font-size:36px;
  margin:0 auto;
}

p{
  font-size:18px;
}

header{
  background:rgba(0, 0, 0, 0.5);
  background-size:cover;
  background-position: top;
  width:100%;
  position:fixed;
  border-bottom:1px solid white;
}

.bg-mask{
  height:100%;
  background:rgba(255, 255, 255, 0.7);
}

.head{
  width:750px;
  margin:0 auto;
}

.head-nav {
  font-size:18px;
  color:white;
  margin:0px 10px;
}

.main{
  background-image:url("header-background.gif");
  background-size:cover;
  background-position: center;
}

.main-container {
  width:750px;
  height:650px;
  margin:0 auto;
  padding-top:100px;
}

.main-contents{
  padding-top:10px;
  padding-bottom:150px;
}

.main-content{
  width:25%;
  float:left;
  text-align:center;
}

.main-content-image{
  width:80%;
  text-align:center;
}

.main-content-title{
  font-size:18px;
}

footer{
  background:rgba(0, 0, 0, 0.5);
  background-size:cover;
  background-position:bottom;
}

.foot{
  width:750px;
  margin:0 auto;
  display:flex;
  flex-direction:column;
}

.foot-title{
  font-size:18px;
  color:white;
  font-weight:bold;
}

.foot-nav {
  font-size:9px;
  color:white;
  margin:0px 10px;
}
